/*
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px; 
            background-color: #f5f5f5;
        }
*/

        .gallery {
            max-width: 1200px;
            margin: auto;
        }

        .gallery h3 {
            cursor: pointer;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 10px 0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .gallery .images {
            display: none;
            margin: 10px 0;
            column-count: 1;
            column-gap: 10px;
        }

        .gallery img {
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 10px 0;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .gallery .images img {
            max-width: 200px; /* Set maximum width for thumbnails */
        }

        .gallery img:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        @media (min-width: 600px) {
            .gallery .images {
                column-count: 2;
            }
        }

        @media (min-width: 900px) {
            .gallery .images {
                column-count: 3;
            }
        }

        @media (min-width: 1200px) {
            .gallery .images {
                column-count: 4;
            }
        }

.staticCalendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    list-style: none; /* 移除默认的列表样式 */
    margin: 0; /* 清除可能的外边距 */
    padding-inline-start: 0; /* 清除不必要的内边距 */
}


.year-name {
display:block;
width: 100%;
margin: 10px;
text-align: center;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.month-grid a {
    text-align: center;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
    text-decoration: none;
    color: #007BFF;
}

.month-grid a:hover {
    background-color: #e0e0e0;
    text-decoration: underline;
}
